# === Build output ===
*.exe
*.obj
*.o
*.out
*.ilk
*.pdb
*.idb
*.log

# === Visual Studio ===
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user
*.db
*.opendb
*.cache
*.tlog/
*.ipch
*.db-shm
*.db-wal

# === Debug/Release folders ===
x64/
Debug/
Release/
*.sqlite

# === OS files ===
Thumbs.db
.DS_Store
